blockquote {
  background-color: rgba(0, 100, 0, 0.1);
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid rgba(0, 100, 0, 0.3);
  border-radius: 0.4em;
}

blockquote>p:first-child{
  margin-top: 0.5em;
}

blockquote>p:last-child{
  margin-bottom: 0.5em;
}

p code{
  background: #DDD;
  border: 1px solid #A88;
  border-radius: 5px;
  padding: 0 4px;
  color: #A55;
  white-space: nowrap;
}
